MONGODB_URI=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
EMAIL_USER=
EMAIL_PASS=
CLOUDINARY_URL=
S3_BUCKET=
SENDGRID_API_KEY=
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000